
/********** Base Styles **********/
p {
  border: 1px solid black;
  padding: 10px;
  background-color: #D3D3D3;
}

/*
#p1 {
  background-color: #A52A2A;
}
#p2 {
  background-color: #DEB887;
}

#p3 {
  background-color: #DEB887;
}
*/

/********** Desktop Style **********/  /*Float Kapitel*/
@media (min-width: 992px) {
  #p1 {
    width: 80%;
  }
  
}


/********** Tablet Style **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 50%;

  }
  #p2 {
    width: 50%;
  }
  #p3 {
    width: 100%;
    clear: left;
   }
  body {
    background-color: blue;
  }
}

/********** Mobile Style **********/
@media (max-width: 767px) {
  #p1 {
    width: 100%;
    margin: auto;
    clear: left;
  }
  #p2 {
    width: 100%;
    margin: auto;
  }
  #p3 {
  	width: 100%;
	margin: auto;
	}
 
}
