body {
	font-size: 16px;
	color: black;
	font-family: 'Oxygen', sans-serif;
}

.container {
	margin: 0px;
}

/*HEADER*/
#header-nav {
	background-color: #00ace6;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

/*Restaurant Name*/
.navbar-brand h1 {
	color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .25;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Hide Restaurant Name Link*/
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;	
}

#nav-list a {
	color: #000;
}

#nav-list a:hover {
	color: #fff;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

h1 {
	font-size: 1.25em;
	margin-bottom: 20px;
}

#content {
	height: 1000px;
	background-color: #E0E0E0;
	padding: 10px;
}

